@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@300;400;500;600;700;900&display=swap%27');
body{
    position: relative;
    background-color: #121212;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-left: ;
}
header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: -20px;
}
nav {
    display: flex;
    gap: 7vw;
    margin: 0 auto;
}
.nav{
    font-family: "Poppins";
    font-weight: 300;
}
li {
    list-style: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}
.gains{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 300;
    color: #F87102;
    margin-left: 60px;
}
.button{
    border-radius: 10px;
    display: flex;
}
.primary{
    width: 230px;
    height: 60px;
    background-color: #F87102;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin: 15px 60px;
    min-width: 100px;
    max-height: 60px;
    height: fit-content;
}
.launchGAINS{
    font-family: "Poppins";
    font-weight: 600;
    color: #121212;
    font-size: 20px;
}
.line{
    color: white;
    opacity: 0.7;
    width: 100%;
}
.stopdelaying{
    font-size: 78px;
    font-family: "Poppins";
    font-weight: 500;
    margin-left: -345px;
    margin-top: 50px;
    position: relative;

}
.stop{
    color: #F87102;
}
.delaying{
    color: white;
}
.first-p{
    font-family: "Poppins";
    font-size: 24px;
    margin-left: -345px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}
.main-svg{
    margin-top: 150px;
    margin-right: -300px;
}
.numbers{
    font-family: "Satoshi";
    font-size: 64px;
    color: white;
}