@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@300;400;500;600;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap%27');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
}
ul{
    display: flexbox;
}

li, a, button{
    font-family: "Montserrant" sans-serif;
    font-size: 24px;
    color: #F87102;
    text-decoration: none;\
}

li, a{
    color: rgba(255, 255, 255, 0.7);
    font-family: "Satoshi";
    font-weight: 300;
    flex-direction: row;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

.logo{
    cursor: pointer;
    font-family: "Satoshi";
    font-weight: 300;
    font-size: 48px;
    color: #F87102;
}
.Working-in-progress{
    font-size: 160px;
    font-family: "Satoshi";
    color: #F87102;
}
.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

button{
    padding: 9px 25px;
    background-color: #F87102;
    color: #121212;
    font-family: "Satoshi";
    width: 260px;
    height: 70px;
    font-weight: 500;
    font-size: 22px;
    border: none;
    min-width: 87px;
    min-height: 23px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.container{
    display: flex;
    justify-content: space-between;
}

.stopdelaying{
    font-size: 78px;
    font-family: "Poppins";
    font-weight: 500;

}
.stop-p{
    margin: 30px 3%;
    display: flex;
    flex-direction: column;
}
.stop{
    color: #F87102;
}
.delaying{
    color: white;
}
.first-p{
    font-family: "Poppins";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}
.main-svg{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 120px;
}
.numbers{
    font-family: "Satoshi";
    font-size: 64px;
    color: white;
}