@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@300;400;500;600;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap%27');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
}
li, a, button{
    font-size: 23px;
    color: #F87102;
    text-decoration: none;
}

li, a{
    color: rgba(255, 255, 255, 0.7);
    font-family: "Satoshi";
    font-weight: 300;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 25px 50px;
    align-items: center;
}
ul{  
    display: flex;
    justify-content: center;
}
.cta{
    display: flex;
    justify-content: end;
}
.logo{
    cursor: pointer;
    font-family: "Satoshi";
    font-weight: 300;
    font-size: 48px;
    color: #F87102;
    transition: all 0.3s ease 0s;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

button{
    padding: 9px 25px;
    background-color: #F87102;
    color: #121212;
    font-family: "Satoshi";
    width: 230px;
    height: 70px;
    font-weight: 500;
    font-size: 22px;
    border: none;
    min-width: 87px;
    min-height: 23px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.container{
    display: flex;
    justify-content: space-between;
}

.stopdelaying{
    font-size: 78px;
    font-family: "Poppins";
    font-weight: 500;

}
.stop-p{
    margin: 75px 30px 75px 50px;
    display: flex;
    flex-direction: column;
}
.stop{
    color: #F87102;
}
.delaying{
    color: white;
}
.first-p{
    font-family: "Poppins";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    margin-top: 25px;
    line-height: 50px;
    letter-spacing: 1px;
}
.main-svg{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 180px;
}
.numbers{
    font-family: "Satoshi";
    font-size: 64px;
    color: white;
}

body{
    background-color: #121212;
}

.Work-in-progress{
    font-size: 96px;
    font-family: "Satoshi";
    color: #F87102;
}

.work-div{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/*
.grid{
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    grid-template-areas:
        "gird1 grid2"
        "grid3 grid4"
    ;
}
.grid-element{
    background-color: #F87102;
    border-radius: 40px;
}
.grid:nth-child(1){
    grid-area: grid1;
}
.grid:nth-child(2){
    grid-area: grid2;
}
.grid:nth-child(3){
    grid-area: grid3;
}
.grid:nth-child(4){
    grid-area: grid4;
}*/